<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <a class="layout-topbar-logo" routerLink="/dashboard">
      <span class="layout-topbar-logo-icon">
        <img [src]="logo" alt="GMAO" />
      </span>
      <span class="layout-topbar-logo-text">{{ 'THEME.LOGO_TEXT' | translate }}</span>
    </a>
    <button type="button" class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()"
      aria-label="Toggle menu">
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action" (click)="toggleTheme()"
        [attr.aria-label]="'THEME.TOGGLE' | translate">
        <i [class]="themeIcon()"></i>

      </button>

      <!-- <div class="relative">
        <button type="button" class="layout-topbar-action layout-topbar-action-highlight" pStyleClass="@next"
          enterFromClass="hidden" enterActiveClass="configurator-scalein" leaveToClass="hidden"
          leaveActiveClass="configurator-fadeout" [hideOnOutsideClick]="true" aria-label="Configurator">
          <i class="pi pi-palette"></i>
        </button>
        <app-layout-configurator />
      </div> -->

      <button type="button" class="layout-topbar-action" (click)="languageMenu.toggle($event)" aria-label="Language">
        <i class="pi pi-globe"></i>
      </button>
      <p-menu #languageMenu [popup]="true" [model]="languageItems"></p-menu>

      <button type="button" class="layout-topbar-action" (click)="userMenu.toggle($event)" aria-label="User menu">
        <i class="pi pi-user"></i>
        @if (authService.currentUser()?.username) {
          <span class="layout-topbar-username">{{ authService.currentUser()?.username }}</span>
        }
      </button>
      <p-menu #userMenu [popup]="true" [model]="userItems()"></p-menu>
    </div>
  </div>
</div>