<div class="fadein">
  <div class="flex justify-content-between align-items-center mb-4">
    <h1 class="text-3xl font-bold m-0">{{ 'WORKORDERS.TITLE' | translate }}</h1>
    <button pButton type="button" routerLink="/workorders/new">
      <i class="pi pi-plus" pButtonIcon></i>
      <span pButtonLabel>{{ 'WORKORDERS.NEW' | translate }}</span>
    </button>
  </div>

  <p-card class="shadow-2">
    <p-table #workOrderTable [value]="rows()" [loading]="loading()" size="small" [globalFilterFields]="['id', 'title', 'description', 'status', 'priority', 'assetId', 'assignedTo', 'estimatedHours']" [paginator]="true" [rows]="10"
             [rowsPerPageOptions]="[5,10,20]">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
          <button pButton type="button" text severity="secondary" size="small" icon="pi pi-filter-slash" [label]="'COMMON.CLEAR_FILTERS' | translate" (click)="workOrderTable.clear()"></button>
          <input pInputText type="text" [placeholder]="'COMMON.SEARCH' | translate" (input)="workOrderTable.filterGlobal($any($event.target).value, 'contains')" />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <!-- <th pSortableColumn="id" class="col-id">{{ 'WORKORDERS.ID' | translate }}<p-sortIcon field="id" /></th> -->
          <th pSortableColumn="title">{{ 'WORKORDERS.TITLE' | translate }}<p-sortIcon field="title" /></th>
          <th pSortableColumn="description">{{ 'WORKORDERS.DESCRIPTION' | translate }}<p-sortIcon field="description" /></th>
          <th pSortableColumn="status">{{ 'WORKORDERS.STATUS' | translate }}<p-sortIcon field="status" /></th>
          <th pSortableColumn="priority">{{ 'WORKORDERS.PRIORITY' | translate }}<p-sortIcon field="priority" /></th>
          <th pSortableColumn="assetId">{{ 'WORKORDERS.ASSET' | translate }}<p-sortIcon field="assetId" /></th>
          <th pSortableColumn="assignedTo">{{ 'WORKORDERS.ASSIGNED' | translate }}<p-sortIcon field="assignedTo" /></th>
          <th pSortableColumn="estimatedHours" >{{ 'WORKORDERS.ESTIMATED_HOURS' | translate }}<p-sortIcon field="estimatedHours" /></th>
          <th pSortableColumn="itemsCount">{{ 'WORKORDERS.ITEMS' | translate }}<p-sortIcon field="itemsCount" /></th>
          <th pSortableColumn="origin">{{ 'WORKORDERS.ORIGIN' | translate }}<p-sortIcon field="origin" /></th>
          <th style="width: 8rem"></th>
        </tr>
        <tr>
          <!-- <th><app-text-column-filter field="id" /></th> -->
          <th class="col-w-14"><app-text-column-filter field="title" /></th>
          <th class="col-w-16"><app-text-column-filter field="description" /></th>
          <th class="col-w-8"><app-dropdown-column-filter field="status" [options]="statusOptions" placeholder="" /></th>
          <th class="col-w-8"><app-dropdown-column-filter field="priority" [options]="priorityOptions" placeholder="" /></th>
          <th class="col-w-12"><app-dropdown-column-filter field="assetId" [options]="assetFilterOptions()" placeholder="" /></th>
          <th class="col-w-12"><app-dropdown-column-filter field="assignedTo" [options]="userFilterOptions()" placeholder="" /></th>
          <th class="col-w-10"><app-text-column-filter field="estimatedHours" /></th>
          <th class="col-w-8"></th>
          <th class="col-w-6"></th>
          <th class="col-w-6"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-wo>
        <tr>
          <!-- <td class="col-id">{{ wo.id }}</td> -->
          <td>{{ wo.title }}</td>
          <td>{{ wo.description }}</td>
          <td><p-tag [value]="'WORKORDERS.STATUSES.' + wo.status | translate" [severity]="getSeverity(wo.status)"></p-tag></td>
          <td>{{ wo.priorityLabel }}</td>
          <td>{{ wo.assetLabel }}</td>
          <td>{{ wo.userLabel }}</td>
          <td >{{ wo.estimatedHours }}</td>
          <td>
            @if (wo.itemsCount > 0) {
              <span
                [pTooltip]="itemsTooltip(wo)"
                tooltipPosition="top"
                tooltipStyleClass="items-tooltip"
                class="inline-flex align-items-center"
              >
                <p-tag [value]="wo.itemsCount" severity="info"></p-tag>
              </span>
            }
          </td>
          <td>
            @if (wo.preventivePlanId) {
              <p-tag [value]="'WORKORDERS.ORIGIN_PREVENTIVE' | translate" severity="success"></p-tag>
            } @else {
              <p-tag [value]="'WORKORDERS.ORIGIN_MANUAL' | translate" severity="secondary"></p-tag>
            }
          </td>
          <td>
            <div class="flex gap-2">
              <button pButton type="button" class="p-button-text p-button-sm" [routerLink]="['/workorders', wo.id]" aria-label="Edit">
                <i class="pi pi-pencil" pButtonIcon></i>
              </button>
              <button pButton type="button" class="p-button-text p-button-sm" severity="danger" (click)="delete(wo.id)" aria-label="Delete">
                <i class="pi pi-trash" pButtonIcon></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11" class="text-center p-4">{{ 'COMMON.NO_DATA' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
