.layout-content-wrapper {
  margin-left: 0;
  padding-top: calc(5rem + var(--sync-banner-height, 0));
  height: calc(100% - 5rem - var(--sync-banner-height, 0));
  transition: margin-left var(--layout-section-transition-duration);

  .layout-content {
    border-top: 1px solid var(--surface-border);
    overflow: auto;
    height: calc(100vh - 5rem - var(--sync-banner-height, 0));
    padding: 2rem;
    background-color: var(--surface-ground);
    border-top-left-radius: 30px;
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.1);

    .layout-content-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
