.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-topbar {
  height: 4rem;
  padding: 0 1rem;
}

.layout-content {
  flex: 1;
}

.layout-sidebar {
  width: 16rem;
  transition: width 0.3s;
}

.layout-sidebar.collapsed {
  width: 4.5rem;
}

.active {
  background: var(--primary-color);
  color: var(--primary-color-text) !important;
}
